# ==========================
# Dependencies
# ==========================
**/node_modules/

# ==========================
# Environment Variables
# ==========================
**/.env
**/.env.*

# ==========================
# WhatsApp Session
# ==========================
backend/auth/

# ==========================
# Build
# ==========================
frontend/dist/
backend/dist/

# ==========================
# Logs
# ==========================
*.log
npm-debug.log*

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# IDE
# ==========================
.vscode/
.idea/

ToDo.txt